@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';

body {
  @apply bg-dark text-light font-sans;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.3s ease forwards;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px; /* evita que o topo da seção fique escondido atrás da navbar */
  padding-top: 5rem; /* espaço acima */
  padding-bottom: 5rem; /* espaço abaixo */
}